In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./heart.csv')

- age
- sex
- chest pain type (4 values)
- resting blood pressure
- serum cholestoral in mg/dl
- fasting blood sugar > 120 mg/dl
- resting electrocardiographic results (values 0,1,2)
- maximum heart rate achieved
- exercise induced angina
- oldpeak = ST depression induced by exercise relative to rest
- the slope of the peak exercise ST segment
- number of major vessels (0-3) colored by flourosopy
- thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

In [3]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [5]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [22]:
feature_cols = list(data.columns)
feature_cols.remove('target')

['age',
 'sex',
 'cp',
 'trestbps',
 'chol',
 'fbs',
 'restecg',
 'thalach',
 'exang',
 'oldpeak',
 'slope',
 'ca',
 'thal']

## Логистическая регрессия без предобработки данных

In [38]:
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import uniform

In [23]:
data_train, data_val, target_train, target_val = train_test_split(data[feature_cols], data['target'], 
                                                    train_size=0.8,
                                                    random_state=42)

In [24]:
data_train.head(2)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2
202,58,1,0,150,270,0,0,111,1,0.8,2,0,3

In [40]:
logistic = LogisticRegression(solver='saga', tol=1e-2, max_iter=2000, random_state=0)
distributions = dict(C=uniform(loc=0, scale=4),penalty=['l2', 'l1'])
clf = RandomizedSearchCV(logistic, distributions, random_state=0)
search = clf.fit(data_train, target_train)
search.best_params_

{'C': 2.195254015709299, 'penalty': 'l1'}

In [29]:
scaler = StandardScaler()

In [50]:
model_lr = Pipeline(
    steps=[
        ("normalisation", scaler),
        (
            "classifier",
            LogisticRegressionCV(
                solver='saga', Cs=[2.2], penalty='l1', cv = 5, scoring="roc_auc", refit=True, random_state=0, max_iter=2000
            ),
        ),
    ]
)

In [51]:
model_lr.fit(data_train, target_train)
model_lr.predict(data_val)
model_lr.score(data_val, target_val)

0.9245689655172413

In [53]:
model_lr.get_params()

{'memory': None,
 'steps': [('normalisation', StandardScaler()),
  ('classifier',
   LogisticRegressionCV(Cs=[2.2], cv=5, max_iter=2000, penalty='l1',
                        random_state=0, scoring='roc_auc', solver='saga'))],
 'verbose': False,
 'normalisation': StandardScaler(),
 'classifier': LogisticRegressionCV(Cs=[2.2], cv=5, max_iter=2000, penalty='l1',
                      random_state=0, scoring='roc_auc', solver='saga'),
 'normalisation__copy': True,
 'normalisation__with_mean': True,
 'normalisation__with_std': True,
 'classifier__Cs': [2.2],
 'classifier__class_weight': None,
 'classifier__cv': 5,
 'classifier__dual': False,
 'classifier__fit_intercept': True,
 'classifier__intercept_scaling': 1.0,
 'classifier__l1_ratios': None,
 'classifier__max_iter': 2000,
 'classifier__multi_class': 'auto',
 'classifier__n_jobs': None,
 'classifier__penalty': 'l1',
 'classifier__random_state': 0,
 'classifier__refit': True,
 'classifier__scoring': 'roc_auc',
 'classifier__solver': 'saga',
 'classifier__tol': 0.0001,
 'classifier__verbose': 0}

In [65]:
target_val.head()

179    0
228    0
111    1
246    0
60     1
Name: target, dtype: int64

In [61]:
test_1 = list(data_val.iloc[[0]].values)
test_1

[array([ 57. ,   1. ,   0. , 150. , 276. ,   0. ,   0. , 112. ,   1. ,
          0.6,   1. ,   1. ,   1. ])]

In [64]:
predict_prob = model_lr.predict_proba(test_1)
print(predict_prob)

[[0.92009128 0.07990872]]